.timer {
  font-family: Roboto, sans-serif;
  font-size: 40px;

  display: flex;
  justify-content: space-around;
  background-color: slategrey;
  padding-top: 50px;
  padding-bottom: 50px;
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  text-align: center;
  color: #ffffff;
  color: #ffffff;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}
.label {
  text-align: center;

  color: #ffffff;
  color: #ffffff;
  text-shadow: 2px 2px 20px #ff0000, 5px 5px 5px #000000;
}
